# Python & Umgebungen
venv/
.env
__pycache__/
*.pyc

# Neue SQLite-Datenbank (WICHTIG: Darf nicht zu GitHub!)
wuselmap.db
wuselmap.db-journal

# Medien & Uploads
uploads/

# PyInstaller (EXE-Bau)
dist/
build/
*.spec
*.exe

# Cache, Logs und Temporäres
*.log
fehlerlog.txt
.pytest_cache/
.vscode/
.idea/